<div>
Footer
  <ul>
    <li> <%= link_to "Home", root_path %></li>
    <li> <%= link_to "Headphones", headphones_path %></li>
    <li> <%= link_to "Earphones", earphones_path %></li>
    <li> <%= link_to "Speakers", speakers_path %></li>
    <li> <%= link_to "Cart", cart_path(current_user) %>
  </ul>
</div>
