<section id="mobilenav">
<div id="close-mobile"> X </div>
  <div class="container">
    <div id="mobile-menu-pages-item">
      <div> <%= link_to "Home", root_path %></div>
      <div> <%= link_to "Headphones", category_path(1) %></div>
      <div> <%= link_to "Earphones", category_path(3) %></div>
      <div> <%= link_to "Speakers", category_path(2) %></div>
    </div>
  </div>
   <div id="mobile-menu-logo-item"> <%= image_tag('logo.png') %></div>
</section>

<section id="navbar">
    <div class="container">
      <div id="menu-mobile">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div id="menu-logo-item"> <%= image_tag('logo.png') %></div>
        <div id="menu-pages-item">
          <div> <%= link_to "Home", root_path %></div>
          <div> <%= link_to "Headphones", category_path(1) %></div>
          <div> <%= link_to "Earphones", category_path(3) %></div>
          <div> <%= link_to "Speakers", category_path(2) %></div>
        </div>
      <div id="menu-cart-item"> <%= link_to image_tag('icon-cart.png'), current_user ? cart_path(current_user) : new_user_session_path  %> </div>
    </div>
</section>
