<section id="checkout-cart">

  <div class="container">

  <div class="go-back">
   <%= link_to 'Go Back', products_path%>
  </div>

  <div class="checkout-cart-inner">

    <div class="checkout-module">

      <h1> Checkout </h1>

      <%= simple_form_for([@cart, @order]) do |f| %>
        <h4> Billing Details </h4>
        <div class="row">
          <%= f.input :name %>
          <%= f.input :email %>
        </div>
        <%= f.input :phone_number %>

        <h4> Shipping Info </h4>
        <%= f.input :address %>
        <div class="row">
          <%= f.input :zipcode %>
          <%= f.input :city %>
        </div>
        <%= f.input :country %>

        <h4> Payment Details </h4>
        <div class="row">
          <%= f.input :emoney_number %>
          <%= f.input :emoney_pin %>
        </div>
        <%= f.submit "Confirm", class: "btn-audiophile" %>
      <% end %>
    </div>

    <div class="cart-module">
      <%= render "carts/cart", sum: @sum %>
    </div>

  </div>
  </div>

</section>
