<h1> this is the checkout! </h1>

<%= render "carts/cart" %>

<%= simple_form_for([@cart, @order]) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone_number %>
  <%= f.input :address %>
  <%= f.input :zipcode %>
  <%= f.input :city %>
  <%= f.input :country %>
  <%= f.input :emoney_number %>
  <%= f.input :emoney_pin %>
  <%= f.submit "Confirm", class: "btn-success text-light p-2 shadow-none" %>
<% end %>
