<ul>
<% @carpros.each do |carpro| %>
<li><%= carpro.quantity %>x <%= carpro.product.name %>: $<%= carpro.quantity * carpro.product.price %> <%= link_to "Remove",
            carpro_path(carpro),
            method: :delete  %> </li>
<% end %>
</ul>

Total value: $<%= @sum %>
