<section id="featured">
  <div class="container featured-inner">

    <div class="feature-box orange">
      <div class="image-side">
       <span class="circles"> <%= cl_image_tag('audiophile/home/desktop/pattern-circles_c5knqk') %> </span>
       <span class="speakers-image"><%= cl_image_tag('audiophile/home/desktop/image-speaker-zx9_wsgljg')%></span>
      </div>
      <div class-="info-side">
        <h3> <%= zx9.name %> </h3>
        <p> <%= zx9.description %> </p>
        <p><%= link_to "See Product", product_path(zx9), class: "btn-alt" %></p>
      </div>
    </div>

    <div class="feature-box unique" style="background-image: url('https://res.cloudinary.com/db7q8jblt/image/upload/v1639684181/audiophile/home/desktop/image-speaker-zx7_q3cwff.jpg') ">
      <div class-="info-side">
        <h3> <%= zx7.name %> </h3>
        <%= link_to "See Product", product_path(zx7), class: "btn-audiophile" %>
      </div>
    </div>

    <div class="split">
      <div class="image-side feature-box" style="background-image: url('https://res.cloudinary.com/db7q8jblt/image/upload/v1639684181/audiophile/home/desktop/image-earphones-yx1_hwuwpi.jpg')">

      </div>
      <div class="info-side feature-box">
        <h3> <%= yx1.name %> </h3>
        <%= link_to "See Product", product_path(yx1), class: "btn-audiophile" %>
      </div>
    </div>

  </div>
</section>
