<section id="hero">
  <div class="container">

  <div class="<%= params[:action] == "index" ? "bg-none" : "bg-black" %>">
    <%= render 'shared/navbar', categories: categories %>
  </div>

    <div class="hero-product">

      <div class="hero-product-info">
        <h3><%= product.new ? "New Product" : "Arrival" %></h3>
        <h1><%= product.name %></h1>
        <p><%= product.description %></p>
        <div id="button-area"><%= link_to "See Product", product_path(product), class: "btn-audiophile" %></div>
      </div>
      <div class="hero-product-image">
      </div>
    </div>
  </div>
</section>
